<%= form_for([@artist, @album]) do |f| %>


  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :year %><br>
    <%= f.text_field :year %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>