<head>
	<link href='https://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
</head>

<style>

h1 {
	color: rgb(51, 204, 255);
	font-family: 'Lobster Two', cursive;
	font-size: 36px;
}

h2 {
	font-family: 'Lobster Two', cursive;
	font-size: 24px;
}

p {
	font-family: 'Cabin', sans-serif;
}

</style>


<h1><strong><%= @album.name %></strong></h1>

</p>

<p><%= @album.year %></p>

<h2>Songs:</h2>
<p>

<%= render @album.songs %>

</p>

<!-- #add cover photo:

<img src = ""> -->

<strong > Likes: <%=@album.likes%> <%=link_to image_tag("http://us-cms.jotservers.com/uploads/help/document/joey/88_facebook_like_button_big.jpeg", size: "80x40"), like_album_path(@album) %> </strong>

<p><%= link_to 'Edit', edit_artist_album_path(@album.artist, @album) %> | <%= link_to 'Destroy', album_path(@album),
			    method: :delete, data:{ confirm: "Seriously?" } %> | <%= link_to 'Add song', new_album_song_path(@album) %></p>

<p> <%= link_to 'Home', welcome_index_path %> | <%= link_to 'All Albums', albums_path %> </p>